<div class="container">
    <div class="row">
        <div class="flex flex-center">
            <h2 class="text-color text-title"><%= t('contact') %></h2>
        </div>
        <div class="col s12">
                <div class="col s3">
                    <a href="https://api.whatsapp.com/send?phone=5513991870889&text=Ol%C3%A1,%20fiquei%20interessado%20pelos%20servi%C3%A7os%20fornecidos%20pela%20A%20Priori.%20Gostaria%20de%20saber%20mais" target="_blank">
                        <div id="contact-01-bg">
                            <p class="text-content" style="padding: 400px 70px 15px 40px; font-size: 0.9rem;">
                                <strong>
                                    <%= t('wpp') %>
                                </strong>
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="https://www.linkedin.com/in/gabriel-martins-de-souza-a16899181/" target="_blank">
                        <div id="contact-03-bg">
                            <p class="text-content" style="padding: 400px 70px 15px 40px; font-size: 0.9rem;">
                                <strong>
                                    <%= t('lk') %>
                                </strong>
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=eurotec.gabriel@gmail.com&subject=Assunto do E-mail&body=Corpo do E-mail" target="_blank">
                        <div id="contact-02-bg">
                            <p class="text-content" style="padding: 400px 70px 15px 40px; font-size: 0.9rem;">
                                <strong>
                                    <%= t('email') %>
                                </strong>
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="https://www.instagram.com/by_apriori_/" target="_blank">
                        <div id="contact-04-bg">
                            <p class="text-content" style="padding: 400px 70px 15px 40px; font-size: 0.9rem;">
                                <strong>
                                    <%= t('instagram') %>
                                </strong>
                            </p>
                        </div>
                    </a>
                </div>
        </div>
    </div>
</div>