<div class="container">
    <div class="row">
        <div class="flex flex-center">
            <h2 class="text-color text-title"><%= t('contact') %></h2>
        </div>
        <div class="col s12">
                <div class="col s3">
                    <a href="https://api.whatsapp.com/send?phone=5513991870889&text=Ol%C3%A1,%20fiquei%20interessado%20pelos%20servi%C3%A7os%20fornecidos%20pela%20A%20Priori.%20Gostaria%20de%20saber%20mais" target="_blank">
                        <img class="responsive-img contact-hover" src="<%= image_url 'contact/01_contact.png' %>">
                            <div class="text-content" style="text-align: center;">
                                <strong>
                                    <%= t('wpp') %>
                                </strong>
                            </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="https://www.linkedin.com/in/gabriel-martins-de-souza-a16899181/" target="_blank">
                        <img class="responsive-img contact-hover" src="<%= image_url 'contact/03_contact.png' %>">
                            <div class="text-content" style="text-align: center;">
                                <strong>
                                    <%= t('lk') %>
                                </strong>
                            </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=contato@aapriori.com&subject=Assunto do E-mail" target="_blank">
                        <img class="responsive-img contact-hover" src="<%= image_url 'contact/02_contact.png' %>">
                            <div class="text-content" style="text-align: center;">
                                <strong>
                                    <%= t('email') %>
                                </strong>
                            </div>
                    </a>
                </div>

                <div class="col s3">
                    <a href="https://www.instagram.com/by_apriori_/" target="_blank">
                        <img class="responsive-img contact-hover" src="<%= image_url 'contact/04_contact.png' %>">
                            <div class="text-content" style="text-align: center;">
                                <strong>
                                    <%= t('instagram') %>
                                </strong>
                            </div>
                    </a>
                </div>
        </div>
    </div>
</div>