<div class="container">
    <div class="row">
        <div class="container-image" style="margin-bottom: 10px;">
            <a href="https://www.youtube.com/watch?v=zfRtq3OCdMA" target="_blank">
                <img class="feedbacks-image-left responsive-img" src="<%= image_url 'feedbacks/01.png' %>">
            </a>
            <a href="https://www.youtube.com/shorts/6PqYCC-7heQ" target="_blank">
                <img class="feedbacks-image-center responsive-img" src="<%= image_url 'feedbacks/02.png' %>">
            </a>
            <a href="https://www.youtube.com/shorts/bxBfB2FLGG0" target="_blank">
                <img class="feedbacks-image-right responsive-img" src="<%= image_url 'feedbacks/03.png' %>">
            </a>
        </div>
        <div class="flex flex-center">
                <h2 class="text-color text-title"><%= t('testimonials_feedbacks') %></h2>
                <span class="text-sub-title"><%= t('feedback_feedbacks') %></span>
        </div>
        <div class="col s12" style="padding: 15px; text-align: center;">  
            <a href="#contact"><button class="btn-style btn-b"><%= t('contact') %></button></a>
        </div>
    </div>
</div>
