<div class="container">
    <div class="row">
        <div class="flex flex-center">
            <span class="text-sub-title"><%= t('the_method_method') %></span>
            <h2 class="text-color text-title">Vincit  Omnia</h2>
        </div>
        <div class="flex flex-align-items-center" style="flex-wrap: wrap">
            <div class="col s12 m6 text-content">
                <%= raw t('overtheyears_method') %>
                <%= raw t('auto_knowledge_method') %>  
                <%= raw t('better_operational_method') %>                   
            </div>
            <div class="col s12 m6">
                <img class="responsive-img" src="<%= image_url 'method/method-logo.png' %>">
            </div>
        </div>
        <div class="col s12" style="padding-top: 2.5rem;">
            <div class="col s12 m6 l3" style="padding: 15px; text-align:center;">
                <a href="#"><button class="btn-style btn-a"><%= t('know_more') %></button></a>
            </div>
            <div class="col s12 m6 l3" style="padding: 15px; text-align: center;">  
                <a href="#"><button class="btn-style btn-b"><%= t('contact') %></button></a>
            </div>
        </div>
    </div>
</div>