<div class="container">
    <div class="flex flex-center flex-align-items-center">
        <div class="row">
            <div class="col s12" style="padding-bottom: 20px; display: flex; align-items: baseline;">
                <div class="col s4" style="text-align: center; padding: 15px">
                    <img class="responsive-img" style="margin: 0px; padding: 0px;" src="<%= image_url 'icons/10.png' %>">
                    <p class="text-content" style="text-align: center !important; margin: 1px"><strong>Desenvolvimento do negócio para autonomio:</strong> entrega de conhecimento aplicável, na prática, gerando idenpendência das equipes e do negócio</p>
                    <span class="line"></span>
                </div>
                <div class="col s4" style="text-align: center; padding: 15px">
                    <img class="responsive-img" style="margin: 0px; padding: 0px;" src="<%= image_url 'icons/11.png' %>">
                    <p class="text-content" style="text-align: center !important; margin: 1px"><strong>Desenvolvimento de treinamento especializado.</strong></p>
                    <span class="line"></span>
                </div>
                <div class="col s4" style="text-align: center; padding: 15px">
                    <img class="responsive-img" style="margin: 0px; padding: 0px;" src="<%= image_url 'icons/01.png' %>">
                    <p class="text-content" style="text-align: center !important; margin: 1px"><strong>Desenvolvimento de estratégia, planos práticos e apoio</strong> na implmentação de ações e projetos para o cumprimento de metas.</p>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col s12" style="padding-bottom: 20px; display: flex; align-items: baseline;">
                <div class="col s4" style="text-align: center; padding: 15px">
                    <img class="responsive-img" style="margin: 0px; padding: 0px;" src="<%= image_url 'icons/09.png' %>">
                    <p class="text-content" style="text-align: center !important; margin: 1px"><strong>Estruturação e desenvolvimento de pessoas nas competências de gestão e liderança.</strong></p>
                    <span class="line"></span>
                </div>
                <div class="col s4" style="text-align: center; padding: 15px">
                    <img class="responsive-img" style="margin: 0px; padding: 0px;" src="<%= image_url 'icons/12.png' %>">
                    <p class="text-content" style="text-align: center !important; margin: 1px"><strong>Implmentação de modelo de gestão vinculado ao método Vincit Omnia.</strong></p>
                    <span class="line"></span>
                </div>
                <div class="col s4" style="text-align: center; padding: 15px">
                    <img class="responsive-img" style="margin: 0px; padding: 0px;" src="<%= image_url 'icons/02.png' %>">
                    <p class="text-content" style="text-align: center !important; margin: 1px"><strong>Parceria de diálogo para o último responsável de organização.</strong></p>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col s12" style="padding-bottom: 20px; display: flex; align-items: baseline;">
                <div class="col s12 m4" style="text-align: center; padding: 15px">
                    <img class="responsive-img" style="margin: 0px; padding: 0px;" src="<%= image_url 'icons/08.png' %>">
                    <p class="text-content" style="text-align: center !important; margin: 1px"><strong>Auditoria de Gestão</strong></p>
                    <span class="line"></span>
                </div>
                <div class="col s12 m4" style="text-align: center; padding: 15px">
                    <h2 class="text-color text-title" style="font-size: 3.5rem;">Soluções</h2>
                    <span class="text-sub-title" style="position: relative !important;">Aplicadas</span>
                </div>
                <div class="col s12 m4" style="text-align: center; padding: 15px">
                    <img class="responsive-img" style="margin: 0px; padding: 0px;" style="margin: 0px; padding: 0px;" src="<%= image_url 'icons/03.png' %>">
                    <p class="text-content" style="text-align: center !important; margin: 1px">Solução de conflitos</p>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col s12" style="padding-bottom: 20px; display: flex; align-items: baseline;">
                <div class="col s3" style="text-align: center; padding: 15px">
                    <img class="responsive-img" style="margin: 0px; padding: 0px;" src="<%= image_url 'icons/07.png' %>">
                    <p class="text-content" style="text-align: center !important; margin: 1px"><strong>Estruturação e formação de conselho de administração</strong></p>
                    <span class="line"></span>
                </div>
                <div class="col s3" style="text-align: center; padding: 15px">
                     <img class="responsive-img" style="margin: 0px; padding: 0px;" src="<%= image_url 'icons/06.png' %>">
                     <p class="text-content" style="text-align: center !important; margin: 1px"><strong>Solução em representação comercial</strong></p>
                     <span class="line"></span>
                </div>
                <div class="col s3" style="text-align: center; padding: 15px">
                    <img class="responsive-img" style="margin: 0px; padding: 0px;" src="<%= image_url 'icons/05.png' %>">
                    <p class="text-content" style="text-align: center !important; margin: 1px"><strong>Gestão de crises</strong></p>
                    <span class="line"></span>
                </div>
                <div class="col s3" style="text-align: center; padding: 15px">
                    <img class="responsive-img" style="margin: 0px; padding: 0px;" src="<%= image_url 'icons/04.png' %>">
                    <p class="text-content" style="text-align: center !important; margin: 1px"><strong>Intermediação e conexão com novos fornecedores e parceiros.</strong></p>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col s12" style="padding-top: 2rem;">
                <div class="col s12 m6 l6" style="padding: 15px; text-align:center;">
                    <a href="#"><button class="btn-style btn-a">Quero saber mais</button></a>
                </div>
                <div class="col s12 m6 l6" style="padding: 15px; text-align: center;">  
                    <a href="#"><button class="btn-style btn-b">Contato</button></a>
                </div>
            </div>
        </div>
    </div>
</div>