<div class="container">
    <div class="row">
        <div class="flex flex-start">
            <h2 class="text-color text-title"><%= t('the_training_training') %></h2>
            <span class="text-sub-title"><%= t('high_performance_training') %></span>
        </div>
        <div class="col s6 text-content" style="text-align: left;">
                    <%= raw t('better_performance_training') %>
        </div>
        <div class="col s12" style="padding-top: 2.5rem;">
            <div class="col s12 m6 l3" style="padding: 15px; text-align: center;">
                <a href="#solutions"><button class="btn-style btn-a"><%= t('know_more') %></button></a>
            </div>
            <div class="col s12 m6 l3" style="padding: 15px; text-align: center;">  
                <a href="#contact"><button class="btn-style btn-b"><%= t('contact') %></button></a>
            </div>
        </div>
    </div>
</div>