<div class="container">
    <div class="row">
        <div class="flex flex-center">
                <h2 class="text-color text-title" style="font-size: 2.8rem;"><%= t('values_of_service') %></h2>
        </div>
            <div class="flex flex-align-items-baseline">
                <div class="col m6 s12">
                    <div class="col s12" style="margin-bottom: 30px; text-align: center;">
                        <p class="text-content">
                            <%= raw t('values_method_vos') %>
                        </p>
                    </div>
                    <div class="col s12">
                        <div class="border-effect">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                            <div class="line-3"></div>
                            <div class="line-4"></div>
                            <p class="text-content" style="text-align: center;">
                                <strong>
                                    <%= t('root_influences_vos') %>
                                </strong>
                            </p>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="border-effect">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                            <div class="line-3"></div>
                            <div class="line-4"></div>
                            <p class="text-content" style="text-align: center;">
                                <strong>
                                    <%= t('purpose_work_vos') %>
                                </strong>
                            </p>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="border-effect" style="margin-bottom: 0px;">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                            <div class="line-3"></div>
                            <div class="line-4"></div>
                            <p class="text-content" style="text-align: center;">
                                <strong>
                                    <%= t('ethic_energy_vos') %>
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col s12 flex flex-center" style="padding: 15px; text-align: center;">
            <a href="#contact"><button class="btn-style btn-b"><%= t('contact') %></button></a>
        </div>
    </div>
</div>