
<div class="navbar-fixed" style="position: absolute;">
  <nav>
    <div class="nav-wrapper container flex flex-center">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li class="flow-text uppercase" data-menuanchor="home"><a href="#who_are_we"><%= t('home') %></a></li>
        <li class="flow-text uppercase" data-menuanchor="method"><a href="#method"><%= t('method') %></a></li>
        <li class="flow-text uppercase" data-menuanchor="training"><a href="#training"><%= t('training') %></a></li>
        <li class="flow-text uppercase" data-menuanchor="solutions"><a href="#solutions"><%= t('solutions') %></a></li>
        <li class="flow-text uppercase" data-menuanchor="in_practice"><a href="#in_practice"><%= t('in_practice') %></a></li>
        <li class="flow-text uppercase" data-menuanchor="acting"><a href="#acting"><%= t('acting') %></a></li>
        <li class="flow-text uppercase" data-menuanchor="feedbacks"><a href="#feedbacks"><%= t('feedbacks') %></a></li>
        <li class="flow-text uppercase" data-menuanchor="values_of_service"><a href="#values_of_service"><%= t('values_of_service') %></a></li>
        <li class="flow-text uppercase" data-menuanchor="concat"><a href="#concat"><%= t('contact') %></a></li>
      </ul>
    </div>
  </nav>
</div>

<div id="fullpage">
  <div id="who-are-we-bg" class="section" data-anchor="home"><%= render 'who_are_we' %></div>
  <div id="method-bg" class="section" data-anchor="method"><%= render 'method' %></div>
  <div id="training-bg" class="section" data-anchor="training"><%= render 'training' %></div>
  <div id="solutions-bg" class="section" data-anchor="solutions"><%= render 'solutions' %></div>
  <div id="in-practice-bg" class="section" data-anchor="in_practice"><%= render 'in_practice' %></div>
  <div id="acting-bg" class="section" data-anchor="acting"><%= render 'acting' %></div>
  <div id="feedbacks-bg" class="section" data-anchor="feedbacks"><%= render 'feedbacks' %></div>
  <div id="values-of-service-bg" class="section" data-anchor="values_of_service"><%= render 'values_of_service' %></div>
  <div class="section" data-anchor="concat">Concat</div>
</div>

<script type="text/javascript">
  $('#fullpage').fullpage({
    anchors: ['who_are_we', 'method', 'training', 'solutions', 'in_practice', 'acting', 'feedbacks', 'values_of_service', 'concat'],
    menu: '#nav-mobile',
    fitToSection: false,
		css3: true,
    setResponsive: true,
  });
</script>
