
<div class="navbar-fixed" style="position: absolute;">
  <nav>
    <div class="nav-wrapper container flex flex-center">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li class="flow-text uppercase" data-menuanchor="home"><a href="#who_are_we"><%= t('home') %></a></li>
      </ul>
    </div>
  </nav>
</div>


<div class="flags">
 <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>
  <% if I18n.locale == :'pt-BR' %>
    <%= image_tag("flags/br.png", alt: t('portuguese')) %>
  <% elsif I18n.locale == :en %>
    <%= image_tag("flags/eua.png", alt: t('english')) %>
  <% end %>
 </a>
</div>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><%= link_to image_tag("flags/br.png", alt: t('portuguese'), style: 'display: inline-block; vertical-align: middle;') +  t('portuguese') , url_for(:locale => 'pt-BR') %></li>
    <li><%= link_to image_tag("flags/eua.png", alt: t('english'), style: 'display: inline-block; vertical-align: middle;') +  t('english'), url_for(:locale => 'en') %></li>
  </ul>

<div id="fullpage">
  <div id="who-are-we-bg" class="section" data-anchor="home"><%= render 'who_are_we' %></div>
</div>

<script type="text/javascript">
  $('#fullpage').fullpage({
    anchors: ['who_are_we'],
    menu: '#nav-mobile',
    paddingTop: "60px",
    fitToSection: false,
		css3: true,
    setResponsive: true,
    autoScrolling: false,
    afterLoad: function (origin, destination, direction) {
      $('[data-anchor="solutions"]').css('padding-top', '60px');
      $('[data-anchor="method"]').css('padding-top', '60px');
    },
  });
</script>
